<!DOCTYPE html>
html
  head
    title= title
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href='/flatpickr/dist/flatpickr.min.css')
    link(rel='stylesheet' href='/select2/dist/css/select2.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/index.css')
  body
    .gtr-header
      .d-flex.justify-content-between
        a.navbar-brand(href="/")
          img(src="/images/gotur_vip_logo_white.png" alt="GÖTÜR")
        .d-flex.gap-3.align-items-center
          a.gtr-link 
            i.fa-solid.fa-magnifying-glass.me-1
            |Biletimi Bul
          a.gtr-link 
            i.fa-solid.fa-user-check.me-1
            |Giriş Yap
          a.gtr-link 
            i.fa-solid.fa-user-plus.me-1
            |Kayıt Ol
      .trip-finder.border
        .trip-finder_selects
          .d-flex.flex-column
            span
              i.fa-solid.fa-bus-side.me-1
              span Nereden?
            input.trip-finder_from(value="" type="text" placeholder="Kalkış Seçin")
          span.trip-finder_change
            i.fa-solid.fa-arrow-right-arrow-left
          .d-flex.flex-column
            span
              i.fa-solid.fa-bus-side.me-1
              span Nereye?
            input.trip-finder_to(value="" type="text" placeholder="Varış Seçin")
          .d-flex.flex-column
            span
              i.fa-solid.fa-calendar.me-1
              span Ne Zaman?
            input.trip-finder_date(type="text")
          .trip-finder_day-buttons
            button(type="button").trip-finder_day-button(data-day="today") Bugün
            button(type="button").trip-finder_day-button(data-day="tomorrow") Yarın
          button.trip-finder_search-button ARA

block content

block scripts
  script(src='/js/index.js')
