include components/place-select
include components/auth-modals

<!DOCTYPE html>
html
  head
    title= title
    link(rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png")
    link(rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png")
    link(rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon")
    link(rel='stylesheet' href='/flatpickr/dist/flatpickr.min.css')
    link(rel='stylesheet' href='/select2/dist/css/select2.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/index.css')
    link(rel='stylesheet' href='/css/place-select.css')
  body
    .gtr-header
      - const displayName = currentUser ? [currentUser.name, currentUser.surname].filter(Boolean).join(' ') || currentUser.email || currentUser.phoneNumber : ''
      .d-flex.justify-content-between
        a.navbar-brand(href="/")
          img(src="/images/gotur_vip_logo_white.png" alt="GÖTÜR")
        .d-flex.gap-3.align-items-center
          a.gtr-link
            i.fa-solid.fa-magnifying-glass.me-1
            |Biletimi Bul
          if currentUser
            if displayName
              span.text-white.fw-semibold.d-none.d-sm-inline Merhaba, #{displayName}
            a.gtr-link#logoutButton(href='#' role='button')
              i.fa-solid.fa-right-from-bracket.me-1
              |Çıkış Yap
          else
            a.gtr-link(href='javascript:void(0)' role='button' data-bs-toggle='modal' data-bs-target='#loginModal')
              i.fa-solid.fa-user-check.me-1
              |Giriş Yap
            a.gtr-link(href='javascript:void(0)' role='button' data-bs-toggle='modal' data-bs-target='#registerModal')
              i.fa-solid.fa-user-plus.me-1
              |Kayıt Ol
      - const fromValue = typeof fromId !== 'undefined' ? fromId : '';
      - const toValue = typeof toId !== 'undefined' ? toId : '';
      p Türkiye'nin En Yeni Online Yazıhanesi
      .trip-finder.border
        .trip-finder_selects
          .d-flex.flex-column
            span
              i.fa-solid.fa-bus-side.me-1
              span Nereden?
            +placeSelect({
              placeholder: 'Kalkış Seçin',
              searchPlaceholder: 'İl-ilçe adı yazın...',
              input: {
                class: 'trip-finder_from',
                name: 'from',
                value: fromValue
              }
            })
          span.trip-finder_change
            i.fa-solid.fa-arrow-right-arrow-left
          .d-flex.flex-column
            span
              i.fa-solid.fa-bus-side.me-1
              span Nereye?
            +placeSelect({
              placeholder: 'Varış Seçin',
              searchPlaceholder: 'İl-ilçe adı yazın...',
              input: {
                class: 'trip-finder_to',
                name: 'to',
                value: toValue
              }
            })
          .d-flex.flex-column
            span
              i.fa-solid.fa-calendar.me-1
              span Ne Zaman?
            input.trip-finder_date(type='text')
          .trip-finder_day-buttons
            button(type='button').trip-finder_day-button(data-day='today') Bugün
            button(type='button').trip-finder_day-button(data-day='tomorrow') Yarın
          button.trip-finder_search-button ARA
    if !currentUser
      +authModals()
    .d-flex.gap-3
      .d-flex.flex-column.border
        p Çözümcü Online Destek
      .d-flex.flex-column.border
        p Güvenli Ödeme
      .d-flex.flex-column.border
        p Avantajlı Bilet
      .d-flex.flex-column.border
        p İşlem Kolaylığı
      .d-flex.flex-column.border
        p Kullanıcı Dostu Kampanyalar
  script(src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/js/all.min.js")
  script(src="https://code.jquery.com/jquery-3.7.1.min.js")
  script(src="/select2/dist/js/select2.min.js")
  script(src="/flatpickr/dist/flatpickr.min.js")
  script(src="/flatpickr/dist/l10n/tr.js")
  script(src="/js/place-select.js")
  script(src='/js/index.js')
