/* CSS RESET */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset,
img {
  border: 0;
}

input {
  border: 1px solid #b0b0b0;
  padding: 3px 5px 4px;
  color: #979797;
  width: 190px;
}

address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

caption,
th {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

q:before,
q:after {
  content: '';
}

abbr,
acronym {
  border: 0;
}

/* CSS RESET */

@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');

html,
body {
  background-color: rgb(245, 245, 245);
}

body {
  font: 14px "Lato", sans-serif !important;
}

* {
  transition: 0.2s all;
}

.gtr-header {
  height: 10vh;
  width: 100%;
  background-color: #2660ff !important;
  padding: 1rem 3rem;
  color: white;
}

.gtr-header-invert {
  height: 10vh;
  width: 100%;
  background-color: white !important;
  padding: 1rem 3rem;
  color: #313131;
}

.gtr-header img,.gtr-header-invert img {
  width: 10vw;
}

a.gtr-link {
  font-weight: 500;
  font-size: 1.25rem;
  color: white;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
}

a.gtr-link:hover {
  color: #e0e0e0;
}

a.gtr-link:active {
  color: #c4c4c4;
  transform: scale(0.95);
}

.gtr-input{
  border: 2px solid #2660ff !important;
  border-radius: 5px !important;
  height: 3rem !important;
  color: #333 !important;
  font-size: 1rem !important;
  padding-left: .5rem !important;
  line-height: 2.75rem !important;
}

.select2-container .select2-selection {
  border: 2px solid #2660ff !important;
  border-radius: 5px !important;
  height: 3rem !important;
}

.select2-container .select2-selection__rendered {
  color: #333 !important;
  font-size: 1rem !important;
  padding-left: .5rem !important;
  line-height: 2.75rem !important;
}

.select2-container .select2-selection__arrow {
  display: none !important;
}